@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&display=swap');

* {
    box-sizing: border-box;
    transition: all 0.3s;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

body, html {
    margin: 0;
    padding: 0;
}

main#inicio {
    background-color: #f1f3f9;
    height: 100vh;
    width: 100vw;
    position: absolute;
    display: grid;
    place-items: center;
 
}

img {
    width: 100px;
}

.contenedor {
    background-color: #1f2232;
    position: relative;
    padding: 24px;
    left: 0;
    

}

.titulo-login {
    text-align: center;
    color: #f1f3f9;
    font-weight: 500;
    margin: 40px 0 0 0;
}

.formulario {
    /* background-color: #3F4464; */
    background-color: #1f2232;
    border-radius: 6px;
    border: none;
    padding: 40px;
    max-width: 340px;
    min-height: 45vh;
    min-width: 300px;
    width: 100%;
    position: relative;
}

.input_contenedor input {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    /* background-color: #f1f3f9; */
    background-color: #3F4464;
    border-radius: 2px;
}

#email::placeholder {
    color: #f1f3f9cb;
}

#password::placeholder {
    /* color: #f1f3f9; */
    color: #f1f3f9cb;
}

.input_contenedor {
    margin-top: 10%;
}

input {
    margin-bottom: 30px;
}

.input-container {
    position: relative;
  }
  
  .input-container i {
    position: absolute;
    top: 50%;
    left: 90%;
    transform: translateY(-50%);
    /* color: #3F4464; */
    color: #f1f3f9;
  }
  
.logo-gym {
    position: absolute;
    top: -100px;
    left: 50%;
    background-color: #ffc857;
    border-radius: 50%; 
    padding: 20px;
    transform: translateX(-50%);
    margin: 0;
}

.boton {
    display: flex;
    justify-content: center;
}

.boton_entrar {
    background-color: #ffc857;
    border: none;
    border-radius: 2px;
    width: 100%;
    padding: 8px;
    cursor: pointer;
    letter-spacing: 2px;
    font-weight: 500;
    color: #473819;
}



.btssesion{
    background-color: #ffc857;
    border: none;
    border-radius: 0px 0px 5px 5px;
    padding: 5px;
    width: 80px;
    cursor: pointer;
    color: #473819;
    
    
}
.tipo{
    
    bottom: -30px;
    position: absolute;
    width: 100%;
    justify-content: space-around;
    gap: 50px;
    display: flex;
    justify-content: flex-end;
    right: 0;
    padding: 0 17px;
    z-index: 3;
}
.corporativo:hover::before{
    background-position: 100%;
}
.corporativo{
    border: 3px solid #ffc857 ;
    overflow: hidden;
}
.corporativo::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgb(247, 202, 79);
    z-index: -2;
}
.corporativo::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 250px;
    left: 0;
    bottom: -150px;
    border-radius: 30%;
    background-color: white;
    z-index: -1;
}
.corporativo:hover::before{
    animation: corporativo 2s linear both;
}
@keyframes corporativo {
    0%{
        transform: rotate(0deg);
    }
    100%{
        bottom: 100px;
        transform: rotate(100deg);
    }
}




