@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&display=swap');

* {
    box-sizing: border-box;
    transition: all 0.3s;
    font-family: 'Oswald', sans-serif;
}

body, html {
    margin: 0;
    padding: 0;
}

main#inicio {
    background-color: #f1f3f9;
    height: 100vh;
    width: 100vw;
}

img {
    width: 100px;
}

.contenedor {
    height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;
}

.titulo-login {
    text-align: center;
    color: #f1f3f9;
    font-weight: 500;
    margin: 40px 0 0 0;
}

.formulario {
    /* background-color: #3F4464; */
    background-color: #1f2232;
    border-radius: 6px;
    border: none;
    padding: 40px;
    max-width: 340px;
    min-height: 45vh;
    min-width: 300px;
    width: 100%;
    position: relative;
}

.input_contenedor input {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    /* background-color: #f1f3f9; */
    background-color: #3F4464;
    border-radius: 2px;
}

#email::placeholder {
    color: #f1f3f9cb;
}

#password::placeholder {
    /* color: #f1f3f9; */
    color: #f1f3f9cb;
}

.input_contenedor {
    margin-top: 10%;
}

input {
    margin-bottom: 30px;
}

.input-container {
    position: relative;
  }
  
  .input-container i {
    position: absolute;
    top: 50%;
    left: 90%;
    transform: translateY(-50%);
    /* color: #3F4464; */
    color: #f1f3f9;
  }
  
.logo-gym {
    position: absolute;
    top: -100px;
    right: 55px;
    background-color: #ffc857;
    border-radius: 50%; 
    padding: 20px;
}

.boton {
    display: flex;
    justify-content: center;
}

.boton_entrar {
    background-color: #ffc857;
    border: none;
    border-radius: 2px;
    width: 100%;
    padding: 8px;
    cursor: pointer;
    letter-spacing: 2px;
    font-weight: 500;
    color: #473819;
}